<div id="dashboard">
    <div>
        <h3><span id="connection-header">Your Connection</span></h3>
        <div id="connection-container">
             <span id="empty-connection">No connection just yet! <br/><br/>Remember, in order to connect you must <b>express your interest</b> in meeting some of your suggestions<span id="prompt-text"> and <b><a id="prompt-signal-ready-for-next" href="#">say that you are ready to connect</a></b></span>.</span>
        </div>
    </div>
    <div>
        <h3><span id="suggestion-header">Your Suggestions</span></h3>
        <div id="suggestions-container">
            <span id="empty-suggestion">Looks like you don't have any suggestions yet. Try going to your <a href="personal.html">profile page</a> and making your
            preferences a bit less strict?</span>
        </div>
    </div>
</div>
