<a href="index.html"><img src="/images/phoenix-cc-2.png"></a><!--Original design adapted from Razlan Hanafiah-->
<ul>
	<li id="dashboard-item"><a class = "sidebar-link" href="index.html">Dashboard</a></li>
	<li id="personal-item"><a class = "sidebar-link" href="personal.html">Personal</a></li>
	<li id="journal-item"><a class = "sidebar-link" href="journal.html">Journal</a></li>
	<li id="faq-item"><a class = "sidebar-link" href="faq.html">FAQ</a></li>
</ul>
<div class="row" id="sidebar-username-and-signout">
        <span id="sidebar-username">{{ username }}</span>
        <button id="signout" class="btn btn-primary">Log Out</button>
</div>